@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    color: #333; /* Add color to all text */
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #333;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav li {
    margin-right: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    font-size: 20px; /* Adjust the font size as needed */
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

section {
    padding: 20px;
    color: #333; /* Add color to all text */
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

footer p {
    margin: 0;
}

.scrollToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333;
    color: #fff;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
    display: none;
    opacity: 0.5; /* Set initial opacity */
    transition: opacity 0.3s; /* Add transition for smooth effect */
}

.scrollToTopBtn:hover {
    background-color: #555;
    opacity: 1; /* Increase opacity on hover */
}