

.backbtn {
    position: absolute;
    z-index: 9999;
    top: 0.5rem;
    left: 0.5rem;
    padding: 0.5rem 1rem;
    background-color: #fff;
    color: #333;
    border: 1px solid #333;
    border-radius: 0.25rem;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s ease;
    transition: color 0.3s ease;
}

.backbtn:hover {
    background-color: #11d84d;
    color: #fff;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 95vh;
    width: 100%;
    overflow: hidden;
}